@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  font-family: "Poppins";
  scroll-behavior: smooth;
  @apply text-black-custom;
}

::-webkit-scrollbar {
  @apply w-[10px];
}

::-webkit-scrollbar-track {
  @apply border border-gray-600 bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand;
}

.nav-link a::after {
  content: '';
  @apply block bg-black-custom absolute bottom-[-5px] left-1/2 transition-all duration-300 w-0 h-[2px];
  transform: translateX(-50%);
}

.nav-link a:hover::after, .nav-link.active a::after{
  width: 50%;
}


.primaryButton:before{
	position:absolute;
	content:'';
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#011640;
	transition:all 0.3s ease-out;
	transform:scaleX(0);
}

.primaryButton:hover:before{
	transform:scaleX(1);
}

.secondaryButton:before{
	position:absolute;
	content:'';
	top:0;
	left:0;
	right:0;
	bottom:0;
	@apply bg-brand;
	transition:all 0.3s ease-out;
	transform:scaleX(0);
}

.secondaryButton:hover:before{
	transform:scaleX(1);
}

.active-slide {
	@apply border border-brand;
}